*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    padding: 10px;
}
nav a{
    background-color: steelblue;
    color: white;
    padding: 10px;
    display: block;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
}

aside{
    width: 20 rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 50px;
    left: 150px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* class selector */
.box {
margin: 1rem;
border: 1px;
padding: 1rem;
background-color: #eee;
color: #000;
}